/*Start nested nav bar styles.*/

$uiBlueBackground0:#1e2e84;

//#0E88CC;//#12709E;//#50AFEA; //#0089EF;  //#03C7F4  //#2150A3;  //03C7F4 //2946A3 //#2150A3;
$uiBlueLinkButtonText0: #84E7F7; //#84E7F7;// #03C7F4;
$uiBlueLinkButtonTextHover0: #D9FCFC;

$navItemDecoratorBlue: #4286f4;

.top_nav_bar_blue_rgba {
//background-color:rgba(33, 105, 221, 0.5);
//background-color:rgba(82, 50, 224, 0.7);
background-color:rgba(28, 30, 142, 0.7);
}
.top_nav_bar_blue_rgba2 {
//background-color:rgba(82, 50, 224, 0.9);
background-color:rgba(28, 30, 142, 0.9);
}

.top-nav-item {
list-style:none;

list-style:none;
text-align:center;

text-transform: uppercase;
font-size:13px;
font-weight:bold;
color:#888888;

white-space: nowrap;
}
.top-nav-item:hover {
background-color:rgba(6, 157, 255, 0.5);
}

.top-nav-item a {
color:inherit;
text-decoration:none;
}

//all of the top-nav-items li nested under that first
//row of elements needs text-align left
.abox .top-nav-item li {
text-align: left;
}

.styled_dropdowns ul {
list-style: none;
}

/*All of the ul elements which are first-children of ul li structures- switch to display:block on hover, which
turns them "on"*/
ul li:hover > ul {
display:block;
}
/*the hidden class turns things off.*/
.hidden {
display:none;
}

.match_horizontal_li {
top:100%;
left:0px;
width:100%;
}
// .match_horizontal_li2 {
// top:100%;
// left:0px;
// width:100%;
// }

.match_vertical_li_top_right {
left:100%;
top:0px;
}
.match_vertical_li_top_left {
right:100%;
top:0px;
left:auto;
}

.left-decorator {
left:0px;
top:0px;
height:100%;
width:8px;
background:$navItemDecoratorBlue;
}

.right-decorator {
right:0px;
top:0px;
height:100%;
width:8px;
background:$navItemDecoratorBlue;
left:auto;
}

.top_blogroll_list li {
text-align: center;
text-transform: uppercase;
font-size:13px;
font-weight:bold;
}

.top_nav_bar {
// background:$navBarBlue;
border-bottom:7px solid $blueContrast1;
}
.footer {
// background:$medGrey;
// border-top:7px solid $grey;
background:#999999;
border-top:7px solid #1e2e84;
}

.dropdown-nav-menu-item {
padding:10px;
padding-left:25px;
padding-right:15px;
background:#888888;
// color:#444444;
text-align:left;
}
.dropdown-nav-menu-item:hover {
background:#EFEFEF;
}

.dropdown-nav-menu-container {
border:7px solid #0d6bbd;
border-right-width:2px;
border-bottom-width:2px;
}
