@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('/css/OpenSans-Bold.ttf') format(truetype),
       url('/css/OpenSans-Light.ttf') format(truetype);
     }

.photo_caption_credit {
  font-size: 0.8em; }

h3.corner_box_title a {
  color: #03C7F4;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none; }

h3.corner_box_title a:hover {
  color: #9DEAFC; }

h3.corner_box_title a:visited {
  color: #F9215A; }

a {
  color: #4286f4;
  font-weight: bold;
  text-decoration: none; }

a.featured_article_link {
  color: #03C7F4;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none; }

a.featured_article_link:hover {
  color: #9DEAFC; }

a.featured_article_link:visited {
  color: #F9215A; }

a.sidebar_link {
  color: #4286f4 !important;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none; }

a.sidebar_link:hover {
  color: #2aa3f9 !important; }

a.sidebar_link:visited {
  color: #F9215A; }

.js_gbc_app {
  display: none; }

input.search-field {
  padding: 10px; }

.fixed_nav_sidebar {
  position: fixed;
  top: 75px;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 11;
  background: #333333;
  overflow: scroll; }

.sidenav-svg {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px; }

.styled_sidebar_item {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2em;
  padding: 10px;
  padding-left: 15px;
  border-bottom: 1px solid #03C7F4;
  border-left: 8px solid #03C7F4;
  background: #242424; }

.styled_sidebar_item {
  color: #03C7F4;
  cursor: pointer; }

.styled_sidebar_item:hover {
  color: #84E7F7; }

a.styled_sidebar_item {
  color: #03C7F4; }

a.styled_sidebar_item:active {
  color: #03C7F4; }

a.styled_sidebar_item:hover {
  color: #84E7F7; }

a.styled_sidebar_item:visited {
  color: #F9215A; }

a.styled_sidebar_item:visited:hover {
  color: #f95462; }

/* We need this little margin-bottom:100px thing here because somehow it doesn't trigger the scrolling bar
      when the options expand otherwise and I'm not sure what's going on. */
.sidenav_menu_container {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  margin-bottom: 100px; }

.mobile_ul {
  list-style: none;
  font-size: 1em;
  text-transform: uppercase;
  padding-left: 30px; }

.mobile_ul li ul {
  overflow: hidden;
  height: 0px; }

.mobile_li_last {
  border-bottom: solid 1px #222222; }

.styled_sidebar_item a {
  color: #FFFFFF;
  text-decoration: none; }

.fixed_row {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: none; }

/*Start nested nav bar styles.*/
.top_nav_bar_blue_rgba {
  background-color: rgba(28, 30, 142, 0.7); }

.top_nav_bar_blue_rgba2 {
  background-color: rgba(28, 30, 142, 0.9); }

.top-nav-item {
  list-style: none;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  white-space: nowrap; }

.top-nav-item:hover {
  background-color: rgba(6, 157, 255, 0.5); }

.top-nav-item a {
  color: inherit;
  text-decoration: none; }

.abox .top-nav-item li {
  text-align: left; }

.styled_dropdowns ul {
  list-style: none; }

/*All of the ul elements which are first-children of ul li structures- switch to display:block on hover, which
turns them "on"*/
ul li:hover > ul {
  display: block; }

/*the hidden class turns things off.*/
.hidden {
  display: none; }

.match_horizontal_li {
  top: 100%;
  left: 0px;
  width: 100%; }

.match_vertical_li_top_right {
  left: 100%;
  top: 0px; }

.match_vertical_li_top_left {
  right: 100%;
  top: 0px;
  left: auto; }

.left-decorator {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 8px;
  background: #4286f4; }

.right-decorator {
  right: 0px;
  top: 0px;
  height: 100%;
  width: 8px;
  background: #4286f4;
  left: auto; }

.top_blogroll_list li {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold; }

.top_nav_bar {
  border-bottom: 7px solid #1e2e84; }

.footer {
  background: #FFFFFF;
  border-top: 7px solid #1e2e84;
}

.dropdown-nav-menu-item {
  padding: 10px;
  padding-left: 25px;
  padding-right: 15px;
  background: #FFFFFF;
  text-align: left; }

.dropdown-nav-menu-item:hover {
  background: #EFEFEF; }

.dropdown-nav-menu-container {
  border: 7px solid #0d6bbd;
  border-right-width: 2px;
  border-bottom-width: 2px; }

.nice-item2 {
  list-style: none;
  background: #333333;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  color: #84E7F7;
  white-space: nowrap; }

.nice-item2:hover {
  background: #4E4E4E;
  color: #D9FCFC; }

.nice-item2 a {
  color: inherit;
  text-decoration: none; }

.abox .nice-item2 li {
  text-align: left; }

.left-decorator2 {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 8px;
  background: #4E4E4E;
  border-left: 3px solid #03C7F4; }

.right-decorator2 {
  right: 0px;
  top: 0px;
  height: 100%;
  width: 8px;
  background: #4E4E4E;
  left: auto;
  border-right: 3px solid #03C7F4; }

#js_responsive_device_width {
  width: 100px; }

body {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  line-height: 1.5;
  font-size: 15px;
  color: #444444; }

h1 {
  font-size: 2.3em; }

.post_title h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h2.featured_post_tile_title {
  font-size: 1.3em; }

.page_title_with_background_repeater {
  background: url("../../images/GBC-title-background-stroke.png") repeat;
  background-size: 121px 61px;
  top: -300px;
  left: -100px;
  width: 1000px;
  height: 1000px;
  z-index: 1;
  transform: rotate(45deg);
  opacity: 0.35; }

.top_nav_negative_margin {
  margin-top: -40px; }

h2.indexpage {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  font-weight: bold; }

h3.indexpage {
  font-size: 1.8em;
  font-weight: bold; }

.featured_article_box_width {
  width: 50%; }

.embedded_image_width {
  width: 80%; }

.index_page_column_width {
  width: 70%; }

.lightbox_width_800 {
  width: 800px; }

.content_home_margin {
  margin: 20px; }

.content_home_featured_padding {
  padding: 10px; }

.featured_posts_padding {
  padding: 10px;
  padding-bottom: 15px; }

.archive_page_main_content_padding {
  padding: 10px; }

.embedded_video_player_width {
  width: 80%; }

.main_title {
  width: 322px;
  height: 92px;
  background: url("../../images/GlowingBlueCore-Title-Size0.png") no-repeat;
  background-size: 322px 92px;
  top: 14px;
  left: 60px; }

.main_title_column_width {
  width: 80%;
  max-width: 950px; }

.main_title_mobile {
  width: 268px;
  height: 78px;
  background: url("../../images/GlowingBlueCore-Title-Size0.png") no-repeat;
  background-size: 268px 78px;
  top: 5px;
  left: auto;
  right: 0px; }

.main_title_repeater {
  height: 304px;
  background: #383838 url("../../images/GlowingBlueCore-Title-Repeater-Size0.png") repeat-x;
  background-size: 10px 304px; }

.main_title_explainer {
  width: 290px;
  height: 115px;
  background: url("../../images/GlowingBlueCore-Title-Explainer-Size0.png") no-repeat;
  background-size: 290px 115px;
  right: 20px;
  top: 2px;
  left: auto !important; }

.main_title_height {
  height: 152px; }

.main_title_img_dimensions {
  width: 950px;
  height: 304px; }

.main_title_img_position {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%); }

.main_title_background_left {
  background: url("../../images/PR-Header-Black-Gradient-Left-Size0.png") no-repeat;
  background-size: 96px 304px;
  width: 96px;
  height: 304px; }

.main_title_background_right {
  background: url("../../images/PR-Header-Black-Gradient-Right-Size0.png") no-repeat;
  background-size: 96px 304px;
  width: 96px;
  height: 304px; }

.hamburger_menu_icon {
  background: url("../../images/hamburger-icon.png");
  background-size: 60px 50px;
  position: absolute;
  width: 60px;
  height: 50px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

.pagination_box {
  position: absolute;
  display: inline;
  top: 0px;
  right: 0px;
  left: auto;
  top: -40px; }

.sortable_table_id_column_width {
  width: 80px;
  display: table-cell; }

.sortable_table_desc_column_width {
  width: calc(100% - 80px); }

.back_facing_chevron {
  background: url("../../images/GlowingBlueCore-UI-Sprite-Size0.png") no-repeat;
  background-position: -0px -62px;
  background-size: 120px 120px;
  width: 33px;
  height: 47px; }

.visible_at_screen_lt_size1 {
  display: none; }

.visible_at_screen_gt_size1 {
  display: block; }

.visible_at_screen_gt_size2 {
  display: block; }

.visible_at_screen_size2 {
  display: none; }

@media only screen and (max-device-width: 900px), only screen and (max-width: 900px) {
  #js_responsive_device_width {
    width: 200px; }

  body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    background: #FFFFFF;
    line-height: 1.5;
    font-size: 12px;
    color: #444444; }

  h1 {
    font-size: 1.7em; }

  .post_title h1 {
    font-size: 1.7em; }

  h2 {
    font-size: 1.5em; }

  h2.featured_post_tile_title {
    font-size: 1.1em; }

  .page_title_with_background_repeater {
    background: url("../../images/GBC-title-background-stroke.png") repeat;
    background-size: 121px 61px;
    top: -300px;
    left: -100px;
    width: 1000px;
    height: 1000px;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 0.35; }

  .top_nav_negative_margin {
    margin-top: 0px; }

  h2.indexpage {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    font-weight: bold; }

  h3.indexpage {
    font-size: 1.6em;
    font-weight: bold; }

  .featured_article_box_width {
    width: 50%; }

  .embedded_image_width {
    width: 80%; }

  .index_page_column_width {
    width: 70%; }

  .lightbox_width_800 {
    width: 90%; }

  .content_home_margin {
    margin: 20px; }

  .content_home_featured_padding {
    padding: 10px; }

  .featured_posts_padding {
    padding: 10px;
    padding-bottom: 15px; }

  .archive_page_main_content_padding {
    padding: 10px; }

  .embedded_video_player_width {
    width: 80%; }

  .main_title {
    width: 322px;
    height: 92px;
    background: url("../../images/GlowingBlueCore-Title-Size1.png") no-repeat;
    background-size: 322px 92px;
    top: 14px;
    left: 60px; }

  .main_title_column_width {
    width: 90%;
    max-width: 950px; }

  .main_title_mobile {
    width: 268px;
    height: 78px;
    background: url("../../images/GlowingBlueCore-Title-Size1.png") no-repeat;
    background-size: 268px 78px;
    top: 5px;
    left: auto;
    right: 0px; }

  .main_title_repeater {
    height: 200px;
    background: #383838 url("../../images/GlowingBlueCore-Title-Repeater-Size1.png") repeat-x;
    background-size: 10px 200px; }

  .main_title_explainer {
    width: 290px;
    height: 115px;
    background: url("../../images/GlowingBlueCore-Title-Explainer-Size1.png") no-repeat;
    background-size: 290px 115px;
    right: 20px;
    top: 2px;
    left: auto !important; }

  .main_title_height {
    height: 100px; }

  .main_title_img_dimensions {
    width: 855px;
    height: 274px; }

  .main_title_img_position {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%); }

  .main_title_background_left {
    background: url("../../images/PR-Header-Black-Gradient-Left-Size1.png") no-repeat;
    background-size: 96px 304px;
    width: 96px;
    height: 304px; }

  .main_title_background_right {
    background: url("../../images/PR-Header-Black-Gradient-Right-Size1.png") no-repeat;
    background-size: 96px 304px;
    width: 96px;
    height: 304px; }

  .hamburger_menu_icon {
    background: url("../../images/hamburger-icon.png");
    position: absolute;
    background-size: 60px 50px;
    width: 60px;
    height: 50px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); }

  .pagination_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    position: relative;
    /*why vertical-align:top? See horizontal conservation vertical alignment problem/index.html
    that's the strange problem that happens when you don't have this style.*/
    vertical-align: top;
    margin-top: 40px; }

  .sortable_table_id_column_width {
    width: 80px;
    display: table-cell; }

  .sortable_table_desc_column_width {
    width: calc(100% - 80px); }

  .back_facing_chevron {
    background: url("../../images/GlowingBlueCore-UI-Sprite-Size1.png") no-repeat;
    background-position: -0px -62px;
    background-size: 120px 120px;
    width: 33px;
    height: 47px; }

  .visible_at_screen_lt_size1 {
    display: block !important; }

  .visible_at_screen_gt_size1 {
    display: none !important; }

  .visible_at_screen_gt_size2 {
    display: block; }

  .visible_at_screen_size2 {
    display: none; } }
@media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
  #js_responsive_device_width {
    width: 300px; }

  body {
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
    line-height: 1.5;
    font-size: 12px;
    color: #444444; }

  h1 {
    font-size: 1.7em; }

  .post_title h1 {
    font-size: 1.7em; }

  h2 {
    font-size: 1.5em; }

  h2.featured_post_tile_title {
    font-size: 1.1em; }

  .page_title_with_background_repeater {
    background: url("../../images/GBC-title-background-stroke.png") repeat;
    background-size: 121px 61px;
    top: -300px;
    left: -100px;
    width: 1000px;
    height: 1000px;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 0.35; }

  .top_nav_negative_margin {
    margin-top: 0px; }

  h2.indexpage {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    font-weight: bold; }

  h3.indexpage {
    font-size: 1.6em;
    font-weight: bold; }

  .featured_article_box_width {
    width: 100%; }

  .embedded_image_width {
    width: 100%; }

  .index_page_column_width {
    width: 90%; }

  .lightbox_width_800 {
    width: 90%; }

  .content_home_margin {
    margin: 10px; }

  .content_home_featured_padding {
    padding: 5px; }

  .featured_posts_padding {
    padding: 5px;
    padding-bottom: 15px; }

  .archive_page_main_content_padding {
    padding: 5px; }

  .embedded_video_player_width {
    width: 100%; }

  .main_title {
    width: 322px;
    height: 92px;
    background: url("../../images/GlowingBlueCore-Title-Size2.png") no-repeat;
    background-size: 322px 92px;
    top: 14px;
    left: 60px; }

  .main_title_column_width {
    width: 90%;
    max-width: 950px; }

  .main_title_mobile {
    width: 268px;
    height: 78px;
    background: url("../../images/GlowingBlueCore-Title-Size2.png") no-repeat;
    background-size: 268px 78px;
    top: 5px;
    left: auto;
    right: 0px; }

  .main_title_repeater {
    height: 150px;
    background: #383838 url("../../images/GlowingBlueCore-Title-Repeater-Size2.png") repeat-x;
    background-size: 10px 150px; }

  .main_title_explainer {
    width: 290px;
    height: 115px;
    background: url("../../images/GlowingBlueCore-Title-Explainer-Size2.png") no-repeat;
    background-size: 290px 115px;
    right: 20px;
    top: 2px;
    left: auto !important; }

  .main_title_height {
    height: 75px; }

  .main_title_img_dimensions {
    width: 522px;
    height: 167px; }

  .main_title_img_position {
    top: 50%;
    left: 50%;
    transform: translateX(-42%) translateY(-50%);
    -ms-transform: translateX(-42%) translateY(-50%); }

  .main_title_background_left {
    background: url("../../images/PR-Header-Black-Gradient-Left-Size2.png") no-repeat;
    background-size: 96px 304px;
    width: 96px;
    height: 304px; }

  .main_title_background_right {
    background: url("../../images/PR-Header-Black-Gradient-Right-Size2.png") no-repeat;
    background-size: 96px 304px;
    width: 96px;
    height: 304px; }

  .hamburger_menu_icon {
    background: url("../../images/hamburger-icon.png");
    background-size: 60px 50px;
    position: absolute;
    width: 60px;
    height: 50px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); }

  .pagination_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    position: relative;
    /*why vertical-align:top? See horizontal conservation vertical alignment problem/index.html
    that's the strange problem that happens when you don't have this style.*/
    vertical-align: top;
    margin-top: 40px; }

  .sortable_table_id_column_width {
    width: 0px;
    display: none !important; }

  .sortable_table_desc_column_width {
    width: 100%; }

  .back_facing_chevron {
    background: url("../../images/GlowingBlueCore-UI-Sprite-Size2.png") no-repeat;
    background-position: -0px -62px;
    background-size: 120px 120px;
    width: 33px;
    height: 47px; }

  .visible_at_screen_lt_size1 {
    display: block !important; }

  .visible_at_screen_gt_size1 {
    display: none !important; }

  .visible_at_screen_gt_size2 {
    display: none !important; }

  .visible_at_screen_size2 {
    display: block !important; } }
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #js_responsive_device_width {
    width: 100px; }

  body {
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
    line-height: 1.5;
    font-size: 15px;
    color: #444444; }

  h1 {
    font-size: 2.3em; }

  .post_title h1 {
    font-size: 2em; }

  h2 {
    font-size: 1.8em; }

  h2.featured_post_tile_title {
    font-size: 1.3em; }

  .page_title_with_background_repeater {
    background: url("../../images/GBC-title-background-stroke-2x.png") repeat;
    background-size: 121px 61px;
    top: -300px;
    left: -100px;
    width: 1000px;
    height: 1000px;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 0.35; }

  .top_nav_negative_margin {
    margin-top: -40px; }

  h2.indexpage {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: bold; }

  h3.indexpage {
    font-size: 1.8em;
    font-weight: bold; }

  .featured_article_box_width {
    width: 50%; }

  .embedded_image_width {
    width: 80%; }

  .index_page_column_width {
    width: 70%; }

  .lightbox_width_800 {
    width: 800px; }

  .content_home_margin {
    margin: 20px; }

  .content_home_featured_padding {
    padding: 10px; }

  .featured_posts_padding {
    padding: 10px;
    padding-bottom: 15px; }

  .archive_page_main_content_padding {
    padding: 10px; }

  .embedded_video_player_width {
    width: 80%; }

  .main_title {
    width: 322px;
    height: 92px;
    background: url("../../images/GlowingBlueCore-Title-Size0-2x.png") no-repeat;
    background-size: 322px 92px;
    top: 14px;
    left: 60px; }

  .main_title_column_width {
    width: 80%;
    max-width: 950px; }

  .main_title_mobile {
    width: 268px;
    height: 78px;
    background: url("../../images/GlowingBlueCore-Title-Size0-2x.png") no-repeat;
    background-size: 268px 78px;
    top: 5px;
    left: auto;
    right: 0px; }

  .main_title_repeater {
    height: 304px;
    background: #383838 url("../../images/GlowingBlueCore-Title-Repeater-Size0-2x.png") repeat-x;
    background-size: 10px 304px; }

  .main_title_explainer {
    width: 290px;
    height: 115px;
    background: url("../../images/GlowingBlueCore-Title-Explainer-Size0-2x.png") no-repeat;
    background-size: 290px 115px;
    right: 20px;
    top: 2px;
    left: auto !important; }

  .main_title_height {
    height: 152px; }

  .main_title_img_dimensions {
    width: 950px;
    height: 304px; }

  .main_title_img_position {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%); }

  .main_title_background_left {
    background: url("../../images/PR-Header-Black-Gradient-Left-Size0-2x.png") no-repeat;
    background-size: 96px 304px;
    width: 96px;
    height: 304px; }

  .main_title_background_right {
    background: url("../../images/PR-Header-Black-Gradient-Right-Size0-2x.png") no-repeat;
    background-size: 96px 304px;
    width: 96px;
    height: 304px; }

  .hamburger_menu_icon {
    background: url("../../images/hamburger-icon-2x.png");
    background-size: 60px 50px;
    position: absolute;
    width: 60px;
    height: 50px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); }

  .pagination_box {
    position: absolute;
    display: inline;
    top: 0px;
    right: 0px;
    left: auto;
    top: -40px; }

  .sortable_table_id_column_width {
    width: 80px;
    display: table-cell; }

  .sortable_table_desc_column_width {
    width: calc(100% - 80px); }

  .back_facing_chevron {
    background: url("../../images/GlowingBlueCore-UI-Sprite-Size0-2x.png") no-repeat;
    background-position: -0px -62px;
    background-size: 120px 120px;
    width: 33px;
    height: 47px; }

  .visible_at_screen_lt_size1 {
    display: none; }

  .visible_at_screen_gt_size1 {
    display: block; }

  .visible_at_screen_gt_size2 {
    display: block; }

  .visible_at_screen_size2 {
    display: none; } }
@media only screen and (min-device-pixel-ratio: 2) and (max-device-width: 900px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 900px), only screen and (min-resolution: 192dpi) and (max-device-width: 900px), only screen and (min-device-pixel-ratio: 2) and (max-width: 900px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 900px), only screen and (min-resolution: 192dpi) and (max-width: 900px) {
  #js_responsive_device_width {
    width: 200px; }

  body {
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
    line-height: 1.5;
    font-size: 12px;
    color: #444444; }

  h1 {
    font-size: 1.7em; }

  .post_title h1 {
    font-size: 1.7em; }

  h2 {
    font-size: 1.5em; }

  h2.featured_post_tile_title {
    font-size: 1.1em; }

  .page_title_with_background_repeater {
    background: url("../../images/GBC-title-background-stroke-2x.png") repeat;
    background-size: 121px 61px;
    top: -300px;
    left: -100px;
    width: 1000px;
    height: 1000px;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 0.35; }

  .top_nav_negative_margin {
    margin-top: 0px; }

  h2.indexpage {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    font-weight: bold; }

  h3.indexpage {
    font-size: 1.6em;
    font-weight: bold; }

  .featured_article_box_width {
    width: 50%; }

  .embedded_image_width {
    width: 80%; }

  .index_page_column_width {
    width: 70%; }

  .lightbox_width_800 {
    width: 90%; }

  .content_home_margin {
    margin: 20px; }

  .content_home_featured_padding {
    padding: 10px; }

  .featured_posts_padding {
    padding: 10px;
    padding-bottom: 15px; }

  .archive_page_main_content_padding {
    padding: 10px; }

  .embedded_video_player_width {
    width: 80%; }

  .main_title {
    width: 322px;
    height: 92px;
    background: url("../../images/GlowingBlueCore-Title-Size1-2x.png") no-repeat;
    background-size: 322px 92px;
    top: 14px;
    left: 60px; }

  .main_title_column_width {
    width: 90%;
    max-width: 950px; }

  .main_title_mobile {
    width: 268px;
    height: 78px;
    background: url("../../images/GlowingBlueCore-Title-Size1-2x.png") no-repeat;
    background-size: 268px 78px;
    top: 5px;
    left: auto;
    right: 0px; }

  .main_title_repeater {
    height: 200px;
    background: #383838 url("../../images/GlowingBlueCore-Title-Repeater-Size1-2x.png") repeat-x;
    background-size: 10px 200px; }

  .main_title_explainer {
    width: 290px;
    height: 115px;
    background: url("../../images/GlowingBlueCore-Title-Explainer-Size1-2x.png") no-repeat;
    background-size: 290px 115px;
    right: 20px;
    top: 2px;
    left: auto !important; }

  .main_title_height {
    height: 100px; }

  .main_title_img_dimensions {
    width: 855px;
    height: 274px; }

  .main_title_img_position {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%); }

  .main_title_background_left {
    background: url("../../images/PR-Header-Black-Gradient-Left-Size1-2x.png") no-repeat;
    background-size: 96px 304px;
    width: 96px;
    height: 304px; }

  .main_title_background_right {
    background: url("../../images/PR-Header-Black-Gradient-Right-Size1-2x.png") no-repeat;
    background-size: 96px 304px;
    width: 96px;
    height: 304px; }

  .hamburger_menu_icon {
    background: url("../../images/hamburger-icon-2x.png");
    position: absolute;
    background-size: 60px 50px;
    width: 60px;
    height: 50px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); }

  .pagination_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    position: relative;
    /*why vertical-align:top? See horizontal conservation vertical alignment problem/index.html
    that's the strange problem that happens when you don't have this style.*/
    vertical-align: top;
    margin-top: 40px; }

  .sortable_table_id_column_width {
    width: 80px;
    display: table-cell; }

  .sortable_table_desc_column_width {
    width: calc(100% - 80px); }

  .back_facing_chevron {
    background: url("../../images/GlowingBlueCore-UI-Sprite-Size1-2x.png") no-repeat;
    background-position: -0px -62px;
    background-size: 120px 120px;
    width: 33px;
    height: 47px; }

  .visible_at_screen_lt_size1 {
    display: block !important; }

  .visible_at_screen_gt_size1 {
    display: none !important; }

  .visible_at_screen_gt_size2 {
    display: block; }

  .visible_at_screen_size2 {
    display: none; } }
@media only screen and (min-device-pixel-ratio: 2) and (max-device-width: 500px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 500px), only screen and (min-resolution: 192dpi) and (max-device-width: 500px), only screen and (min-device-pixel-ratio: 2) and (max-width: 500px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px), only screen and (min-resolution: 192dpi) and (max-width: 500px) {
  #js_responsive_device_width {
    width: 300px; }

  body {
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
    line-height: 1.5;
    font-size: 12px;
    color: #444444; }

  h1 {
    font-size: 1.7em; }

  .post_title h1 {
    font-size: 1.7em; }

  h2 {
    font-size: 1.5em; }

  h2.featured_post_tile_title {
    font-size: 1.1em; }

  .page_title_with_background_repeater {
    background: url("../../images/GBC-title-background-stroke-2x.png") repeat;
    background-size: 121px 61px;
    top: -300px;
    left: -100px;
    width: 1000px;
    height: 1000px;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 0.35; }

  .top_nav_negative_margin {
    margin-top: 0px; }

  h2.indexpage {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    font-weight: bold; }

  h3.indexpage {
    font-size: 1.6em;
    font-weight: bold; }

  .featured_article_box_width {
    width: 100%; }

  .embedded_image_width {
    width: 100%; }

  .index_page_column_width {
    width: 90%; }

  .lightbox_width_800 {
    width: 90%; }

  .content_home_margin {
    margin: 10px; }

  .content_home_featured_padding {
    padding: 5px; }

  .featured_posts_padding {
    padding: 5px;
    padding-bottom: 15px; }

  .archive_page_main_content_padding {
    padding: 5px; }

  .embedded_video_player_width {
    width: 100%; }

  .main_title {
    width: 322px;
    height: 92px;
    background: url("../../images/GlowingBlueCore-Title-Size2-2x.png") no-repeat;
    background-size: 322px 92px;
    top: 14px;
    left: 60px; }

  .main_title_column_width {
    width: 90%;
    max-width: 950px; }

  .main_title_mobile {
    width: 268px;
    height: 78px;
    background: url("../../images/GlowingBlueCore-Title-Size2-2x.png") no-repeat;
    background-size: 268px 78px;
    top: 5px;
    left: auto;
    right: 0px; }

  .main_title_repeater {
    height: 150px;
    background: #383838 url("../../images/GlowingBlueCore-Title-Repeater-Size2-2x.png") repeat-x;
    background-size: 10px 150px; }

  .main_title_explainer {
    width: 290px;
    height: 115px;
    background: url("../../images/GlowingBlueCore-Title-Explainer-Size2-2x.png") no-repeat;
    background-size: 290px 115px;
    right: 20px;
    top: 2px;
    left: auto !important; }

  .main_title_height {
    height: 75px; }

  .main_title_img_dimensions {
    width: 522px;
    height: 167px; }

  .main_title_img_position {
    top: 50%;
    left: 50%;
    transform: translateX(-42%) translateY(-50%);
    -ms-transform: translateX(-42%) translateY(-50%); }

  .main_title_background_left {
    background: url("../../images/PR-Header-Black-Gradient-Left-Size2-2x.png") no-repeat;
    background-size: 96px 304px;
    width: 96px;
    height: 304px; }

  .main_title_background_right {
    background: url("../../images/PR-Header-Black-Gradient-Right-Size2-2x.png") no-repeat;
    background-size: 96px 304px;
    width: 96px;
    height: 304px; }

  .hamburger_menu_icon {
    background: url("../../images/hamburger-icon-2x.png");
    position: absolute;
    background-size: 60px 50px;
    width: 60px;
    height: 50px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); }

  .pagination_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    position: relative;
    /*why vertical-align:top? See horizontal conservation vertical alignment problem/index.html
    that's the strange problem that happens when you don't have this style.*/
    vertical-align: top;
    margin-top: 40px; }

  .sortable_table_id_column_width {
    width: 0px;
    display: none !important; }

  .sortable_table_desc_column_width {
    width: 100%; }

  .back_facing_chevron {
    background: url("../../images/GlowingBlueCore-UI-Sprite-Size2-2x.png") no-repeat;
    background-position: -0px -62px;
    background-size: 120px 120px;
    width: 33px;
    height: 47px; }

  .visible_at_screen_lt_size1 {
    display: block !important; }

  .visible_at_screen_gt_size1 {
    display: none !important; }

  .visible_at_screen_gt_size2 {
    display: none !important; }

  .visible_at_screen_size2 {
    display: block !important; } }

/*# sourceMappingURL=gbc-main.css.map

Added by Eric Mott
*/

/*For the header*/
#logo_main{
    position: absolute;
    z-index: 5;
    left: 15px;
    top: 1%;
}

/*For the footer*/
.contact_us{
  width: 20%;
  position:  absolute;
}

/*For the videos*/
.videoWrapper {
  text-align: center;
  padding-top: 30px;
}
.videoWrapper iframe {
  width: 100%;
  margin-bottom: -6px;
}

.videoCard{
	  margin: auto 120px 35px 120px;
	  background: black;
	  border-radius:  5px;
}

.videoHeader{
	height: 55px;
	/* background:  black; */
	/*background: #1e2e84;*/
	/* margin: 0 120px 0 120px; */
	text-align: center;
	vertical-align: middle;
	line-height: 55px;
	border-radius: 5px 5px 0 0;
}

.videoTitle{
  color: white;
  /* background-color:  white; */
}

.avatar{
    vertical-align: middle;
    width: 45px;
    height: 45px;
    float: left;
    padding: 5px;
    border-radius: 20%;
}

.videoExtras {
    /* margin: 0 120px 0 120px; */
    border-radius: 0 0 5px 5px;
    height: 55px;
    display: flex;
    vertical-align: middle;
    /*background: #1e2e84;*/
    /* background: black; */
}

.videoExtras button{
  margin: auto;
  height: 50%;
  width: 20%;
  border-radius:  5px;
  font-size: 90%;
}

/*Create new project*/
.projectCheckbox{
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #060000;
  vertical-align: middle;
}

.projectCheckbox:checked{
  background: #069dff;
}
