
adam-hayes/vendor/composer/autoload_classmap.php
adam-hayes/vendor/composer/autoload_psr4.php
adam-hayes/vendor/composer/autoload_static.php
adam-hayes/vendor/composer/installed.json
adam-hayes/vendor/composer/xdebug-handler/CHANGELOG.md
adam-hayes/vendor/composer/xdebug-handler/composer.json
adam-hayes/vendor/composer/xdebug-handler/LICENSE
adam-hayes/vendor/composer/xdebug-handler/README.md
adam-hayes/vendor/composer/xdebug-handler/src/Process.php
adam-hayes/vendor/composer/xdebug-handler/src/Status.php
adam-hayes/vendor/composer/xdebug-handler/src/XdebugHandler.php
adam-hayes/vendor/php-console/php-console/composer.json
adam-hayes/vendor/php-console/php-console/examples/features/complex_usage_example.php
adam-hayes/vendor/php-console/php-console/examples/features/debug_vars.php
adam-hayes/vendor/php-console/php-console/examples/features/eval_terminal.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_errors.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_javascript_errors.js
adam-hayes/vendor/php-console/php-console/examples/features/handle_javascript_errors.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_on_redirect.php
adam-hayes/vendor/php-console/php-console/examples/features/highload_optimization.php
adam-hayes/vendor/php-console/php-console/examples/features/old_version_adapter.php
adam-hayes/vendor/php-console/php-console/examples/features/protect_by_password.php
adam-hayes/vendor/php-console/php-console/examples/index.php
adam-hayes/vendor/php-console/php-console/examples/styles.css
adam-hayes/vendor/php-console/php-console/examples/utils/detect_headers_limit.php
adam-hayes/vendor/php-console/php-console/examples/utils/test_jump_to_file.php
adam-hayes/vendor/php-console/php-console/LICENSE
adam-hayes/vendor/php-console/php-console/phpunit.xml
adam-hayes/vendor/php-console/php-console/src/PhpConsole/__autoload.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Auth.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Connector.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Debug.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Errors.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Evaluate.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dumper.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/EvalProvider.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Handler.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Helper.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/OldVersionAdapter.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/PsrLogger.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/AllKeysList.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/ExpiringKeyValue.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/File.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/Memcache.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/MongoDB.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/Session.php
adam-hayes/vendor/php-console/php-console/test/bootstrap.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Connector.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Request.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Response.php
adam-hayes/vendor/php-console/php-console/test/server.php
adam-hayes/vendor/php-console/php-console/test/Test/ConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/DebugTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/ErrorsTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/EvaluateTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/DumperTest.php
adam-hayes/vendor/php-console/php-console/test/Test/EvalProviderTest.php
adam-hayes/vendor/php-console/php-console/test/Test/HandlerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/HelperTest.php
adam-hayes/vendor/php-console/php-console/test/Test/PsrLoggerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/AuthTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/ConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/EvaluateTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerAfterConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerBeforeConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/dispatch_debug.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/init_default_connector.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/init_default_handler.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/print.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_allowed_ip.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_auth.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_encoding.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_eval_enabled.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_ssl_only.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_server_encoding.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_compile_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_exception.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_fatal_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_max_execution_time_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_memory_limit_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_not_fatal_errors.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_parse_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/FileTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/MemcacheTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/MongoDbTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/SessionTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/Test.php
adam-hayes/vendor/composer/autoload_classmap.php
adam-hayes/vendor/composer/autoload_psr4.php
adam-hayes/vendor/composer/autoload_static.php
adam-hayes/vendor/composer/installed.json
adam-hayes/vendor/composer/xdebug-handler/CHANGELOG.md
adam-hayes/vendor/composer/xdebug-handler/composer.json
adam-hayes/vendor/composer/xdebug-handler/LICENSE
adam-hayes/vendor/composer/xdebug-handler/README.md
adam-hayes/vendor/composer/xdebug-handler/src/Process.php
adam-hayes/vendor/composer/xdebug-handler/src/Status.php
adam-hayes/vendor/composer/xdebug-handler/src/XdebugHandler.php
adam-hayes/vendor/php-console/php-console/composer.json
adam-hayes/vendor/php-console/php-console/examples/features/complex_usage_example.php
adam-hayes/vendor/php-console/php-console/examples/features/debug_vars.php
adam-hayes/vendor/php-console/php-console/examples/features/eval_terminal.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_errors.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_javascript_errors.js
adam-hayes/vendor/php-console/php-console/examples/features/handle_javascript_errors.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_on_redirect.php
adam-hayes/vendor/php-console/php-console/examples/features/highload_optimization.php
adam-hayes/vendor/php-console/php-console/examples/features/old_version_adapter.php
adam-hayes/vendor/php-console/php-console/examples/features/protect_by_password.php
adam-hayes/vendor/php-console/php-console/examples/index.php
adam-hayes/vendor/php-console/php-console/examples/styles.css
adam-hayes/vendor/php-console/php-console/examples/utils/detect_headers_limit.php
adam-hayes/vendor/php-console/php-console/examples/utils/test_jump_to_file.php
adam-hayes/vendor/php-console/php-console/LICENSE
adam-hayes/vendor/php-console/php-console/phpunit.xml
adam-hayes/vendor/php-console/php-console/src/PhpConsole/__autoload.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Auth.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Connector.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Debug.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Errors.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Evaluate.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dumper.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/EvalProvider.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Handler.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Helper.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/OldVersionAdapter.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/PsrLogger.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/AllKeysList.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/ExpiringKeyValue.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/File.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/Memcache.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/MongoDB.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/Session.php
adam-hayes/vendor/php-console/php-console/test/bootstrap.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Connector.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Request.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Response.php
adam-hayes/vendor/php-console/php-console/test/server.php
adam-hayes/vendor/php-console/php-console/test/Test/ConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/DebugTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/ErrorsTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/EvaluateTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/DumperTest.php
adam-hayes/vendor/php-console/php-console/test/Test/EvalProviderTest.php
adam-hayes/vendor/php-console/php-console/test/Test/HandlerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/HelperTest.php
adam-hayes/vendor/php-console/php-console/test/Test/PsrLoggerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/AuthTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/ConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/EvaluateTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerAfterConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerBeforeConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/dispatch_debug.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/init_default_connector.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/init_default_handler.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/print.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_allowed_ip.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_auth.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_encoding.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_eval_enabled.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_ssl_only.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_server_encoding.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_compile_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_exception.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_fatal_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_max_execution_time_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_memory_limit_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_not_fatal_errors.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_parse_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/MemcacheTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/MongoDbTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/SessionTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/FileTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/FileTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/FileTest.php
*.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/FileTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/MemcacheTest.php
adam-hayes/vendor/composer/autoload_classmap.php
adam-hayes/vendor/composer/autoload_psr4.php
adam-hayes/vendor/composer/autoload_static.php
adam-hayes/vendor/composer/installed.json
adam-hayes/vendor/composer/xdebug-handler/CHANGELOG.md
adam-hayes/vendor/composer/xdebug-handler/composer.json
adam-hayes/vendor/composer/xdebug-handler/LICENSE
adam-hayes/vendor/composer/xdebug-handler/README.md
adam-hayes/vendor/composer/xdebug-handler/src/Process.php
adam-hayes/vendor/composer/xdebug-handler/src/Status.php
adam-hayes/vendor/composer/xdebug-handler/src/XdebugHandler.php
adam-hayes/vendor/php-console/php-console/composer.json
adam-hayes/vendor/php-console/php-console/examples/features/complex_usage_example.php
adam-hayes/vendor/php-console/php-console/examples/features/debug_vars.php
adam-hayes/vendor/php-console/php-console/examples/features/eval_terminal.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_errors.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_javascript_errors.js
adam-hayes/vendor/php-console/php-console/examples/features/handle_javascript_errors.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_on_redirect.php
adam-hayes/vendor/php-console/php-console/examples/features/highload_optimization.php
adam-hayes/vendor/php-console/php-console/examples/features/old_version_adapter.php
adam-hayes/vendor/php-console/php-console/examples/features/protect_by_password.php
adam-hayes/vendor/php-console/php-console/examples/index.php
adam-hayes/vendor/php-console/php-console/examples/styles.css
adam-hayes/vendor/php-console/php-console/examples/utils/detect_headers_limit.php
adam-hayes/vendor/php-console/php-console/examples/utils/test_jump_to_file.php
adam-hayes/vendor/php-console/php-console/LICENSE
adam-hayes/vendor/php-console/php-console/phpunit.xml
adam-hayes/vendor/php-console/php-console/src/PhpConsole/__autoload.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Auth.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Connector.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Debug.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Errors.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Evaluate.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dumper.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/EvalProvider.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Handler.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Helper.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/OldVersionAdapter.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/PsrLogger.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/AllKeysList.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/ExpiringKeyValue.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/File.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/Memcache.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/MongoDB.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/Session.php
adam-hayes/vendor/php-console/php-console/test/bootstrap.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Connector.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Request.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Response.php
adam-hayes/vendor/php-console/php-console/test/server.php
adam-hayes/vendor/php-console/php-console/test/Test/ConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/DebugTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/ErrorsTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/EvaluateTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/DumperTest.php
adam-hayes/vendor/php-console/php-console/test/Test/EvalProviderTest.php
adam-hayes/vendor/php-console/php-console/test/Test/HandlerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/HelperTest.php
adam-hayes/vendor/php-console/php-console/test/Test/PsrLoggerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/AuthTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/ConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/EvaluateTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerAfterConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerBeforeConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/dispatch_debug.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/init_default_connector.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/init_default_handler.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/print.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_allowed_ip.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_auth.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_encoding.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_eval_enabled.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_ssl_only.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_server_encoding.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_compile_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_exception.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_fatal_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_max_execution_time_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_memory_limit_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_not_fatal_errors.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_parse_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/FileTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/MemcacheTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/MongoDbTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/SessionTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/Test.php
adam-hayes/vendor/composer/autoload_classmap.php
adam-hayes/vendor/composer/autoload_psr4.php
adam-hayes/vendor/composer/autoload_static.php
adam-hayes/vendor/composer/installed.json
adam-hayes/vendor/composer/xdebug-handler/CHANGELOG.md
adam-hayes/vendor/composer/xdebug-handler/composer.json
adam-hayes/vendor/composer/xdebug-handler/LICENSE
adam-hayes/vendor/composer/xdebug-handler/README.md
adam-hayes/vendor/composer/xdebug-handler/src/Process.php
adam-hayes/vendor/composer/xdebug-handler/src/Status.php
adam-hayes/vendor/composer/xdebug-handler/src/XdebugHandler.php
adam-hayes/vendor/php-console/php-console/composer.json
adam-hayes/vendor/php-console/php-console/examples/features/complex_usage_example.php
adam-hayes/vendor/php-console/php-console/examples/features/debug_vars.php
adam-hayes/vendor/php-console/php-console/examples/features/eval_terminal.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_errors.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_javascript_errors.js
adam-hayes/vendor/php-console/php-console/examples/features/handle_javascript_errors.php
adam-hayes/vendor/php-console/php-console/examples/features/handle_on_redirect.php
adam-hayes/vendor/php-console/php-console/examples/features/highload_optimization.php
adam-hayes/vendor/php-console/php-console/examples/features/old_version_adapter.php
adam-hayes/vendor/php-console/php-console/examples/features/protect_by_password.php
adam-hayes/vendor/php-console/php-console/examples/index.php
adam-hayes/vendor/php-console/php-console/examples/styles.css
adam-hayes/vendor/php-console/php-console/examples/utils/detect_headers_limit.php
adam-hayes/vendor/php-console/php-console/examples/utils/test_jump_to_file.php
adam-hayes/vendor/php-console/php-console/LICENSE
adam-hayes/vendor/php-console/php-console/phpunit.xml
adam-hayes/vendor/php-console/php-console/src/PhpConsole/__autoload.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Auth.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Connector.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Debug.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Errors.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dispatcher/Evaluate.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Dumper.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/EvalProvider.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Handler.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Helper.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/OldVersionAdapter.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/PsrLogger.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/AllKeysList.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/ExpiringKeyValue.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/File.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/Memcache.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/MongoDB.php
adam-hayes/vendor/php-console/php-console/src/PhpConsole/Storage/Session.php
adam-hayes/vendor/php-console/php-console/test/bootstrap.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Connector.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Request.php
adam-hayes/vendor/php-console/php-console/test/ClientEmulator/Response.php
adam-hayes/vendor/php-console/php-console/test/server.php
adam-hayes/vendor/php-console/php-console/test/Test/ConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/DebugTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/ErrorsTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/EvaluateTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Dispatcher/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/DumperTest.php
adam-hayes/vendor/php-console/php-console/test/Test/EvalProviderTest.php
adam-hayes/vendor/php-console/php-console/test/Test/HandlerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/HelperTest.php
adam-hayes/vendor/php-console/php-console/test/Test/PsrLoggerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/AuthTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/ConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/EvaluateTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerAfterConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerBeforeConnectorTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/HandlerTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/dispatch_debug.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/init_default_connector.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/init_default_handler.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/print.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_allowed_ip.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_auth.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_encoding.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_eval_enabled.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_connector_ssl_only.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/set_server_encoding.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_compile_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_exception.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_fatal_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_max_execution_time_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_memory_limit_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_not_fatal_errors.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/scripts/trigger_parse_error.php
adam-hayes/vendor/php-console/php-console/test/Test/Remote/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/FileTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/MemcacheTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/MongoDbTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/SessionTest.php
adam-hayes/vendor/php-console/php-console/test/Test/Storage/Test.php
adam-hayes/vendor/php-console/php-console/test/Test/Test.php
