
.footer{
      width:100%;

      color:#444444;
      padding-top:20px;
      padding-bottom:50px;
         font-size:1vw;
         margin-left:2vw;
}

h1{
	font-size: 3.5vw;

}

h2{
	font-size: 2.5vw;
}

p{
	font-size: 1.5vw;
}

.center_column_content
{
	margin:5vw;
	margin-left:10vw;
	margin-right:10vw;
}
 .adam-margin {
 margin-top:-210px;
 }

 .light-weight
 {
	 font-weight: lighter;
 }


/* .width-check::after {
 content:'800px';
 }
*/
 h1.about-page-title {
 font-size:6em;
 line-height: 1;
 color:#000000;
 }
 .about-page-title2 {
 font-size:0.5em;
 line-height: 1;
 font-weight:normal;
 color:#000000;
 }


 .about-orange-font {
/* color:#e06d2f;*/
 color:#986ff7;
 }
 .about-light-background {
/* background:#ffe9d6;*/
 background:#FFFFFF;
 }

 .founder-row-visible-gt-600px {
 display:block;
 }
 .founder-row-visible-lte-600px {
 display:none;
 }

div.founder-avatar-label-right {
text-align:right;
bottom:30px;
top:auto;
right:0px;
left:auto;
width:130%;
padding:5px;
padding-left:10px;
padding-right:10px;
background: rgba(0,0,0,0.6);
}

.founder-avatar-label-right h2 {
line-height: 1;
white-space: nowrap;
}
.founder-avatar-label-right h3 {
font-style:italic;
line-height: 1;
white-space: nowrap;
margin-top:5px;
font-weight:normal;
}


div.founder-avatar-label-left {
bottom:30px;
top:auto;
left:0px;
width:130%;
padding:5px;
background: rgba(0,0,0,0.6);
}
.founder-avatar-label-left h2 {
line-height: 1;
white-space: nowrap;
}
.founder-avatar-label-left h3 {
font-style:italic;
line-height: 1;
white-space: nowrap;
margin-top:5px;
font-weight:normal;
}




   @media only screen and (max-device-width : 600px), only screen and (max-width: 600px) {

/*	 .width-check::after {
	 content:'600px';
	 }*/

	.founder-row-visible-gt-600px {
	display:none;
	}
	.founder-row-visible-lte-600px {
	display:block;
	}

	h1.about-page-title {
	font-size:3em;
	line-height: 1;
	}
	.about-page-title2 {
	font-size:0.5em;
	line-height: 1;
	font-weight:normal;
	}


	div.founder-avatar-label-right {
	text-align:right;
	bottom:0px;
	top:auto;
	right:0px;
	left:auto;
	width:110%;
	padding:0px;
	padding-left:5px;
	padding-right:5px;
	background: rgba(0,0,0,0.6);
	}
	div.founder-avatar-label-left {
	bottom:0px;
	top:auto;
	left:0px;
	width:110%;
	padding:0px;
	padding-left:5px;
	padding-right:5px;
	background: rgba(0,0,0,0.6);
	}

	.founder-avatar-label-right h2 {
	font-size: 1em;
	}
	.founder-avatar-label-right h3 {
	margin-top:0px;
	font-size: 1em;
	}
	.founder-avatar-label-left h2 {
	font-size: 1em;
	}
	.founder-avatar-label-left h3 {
	margin-top:0px;
	font-size: 1em;
	}


  }

/*
  @media only screen and (max-device-width : 600px), only screen and (max-width: 600px) {

	 .adam-margin {
	 margin-top:-300px;
	 }

	 .width-check::after {
	 content:'600px';
	 }

  }
  @media only screen and (max-device-width : 400px), only screen and (max-width: 400px) {

	 .adam-margin {
	 margin-top:-270px;
	 }


	 .width-check::after {
	 content:'400px';
	 }

  }*/
