#email, #password, #login
{
    width: 45em;
}



body
{
    font: 2.5vw;
}

.shadowbox_panel
{

    margin:5vw;
    
    box-shadow: 10px 10px 5px grey;
    border: 1px solid grey;
    
    border-radius: 25px;
}

.shadowbox_content
{
    margin:5vw;
}

@media only screen and (max-width: 600px)  {
    body {
        font:2.5vw;
    }

    #email, #password, #login
    {
        width:70vw;
    }
    
}