.footer{
      width:100%;

      color:#444444;
      padding-top:20px;
      padding-bottom:50px;
         font-size:1vw;
         margin-left:2vw;
}
body
{

}
#parallaxwithbanner
{
  background-image: url(../images/lightroad-Projects.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color:white;
    text-align: center;
    font-size: 2.5vh;
    margin-bottom: 5vh;
    margin-top: 5vh;


}


#astroparallax
{



    font-size: 2.5vw;
    text-align: center;

    margin-left:0px;
    margin-right:0px;
    margin-top:5vh;






}



h1{
    font-size: 4.5vh;
    margin-left:10vw;
    margin-right:10vw;
    margin-top:2.5vh;

}

p{


    font-weight: lighter;
    font-size: 3.5vh;
    margin-left:10vw;
    margin-right:10vw;
}
#eventContent
{
    font-size:1vw;
    text-align: justify;
    margin:0;
}

#cpplogo
{
    width:25vw;
}

@media only screen and (max-width: 600px) {
    h1{
      font-size: 8vw;
    }
    p{
        font-size: 5vw;
    }

    #cpplogo
    {
        width:15vh;
    }

    #parallaxwithbanner
    {
        background-image: url(../images/lightroad-Projects.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        color:white;
        text-align: center;
        font-size: 2.5vh;
        margin-bottom: 2.5vh;



    }
    .box
    {
        padding-bottom:0;
    }
}
