

#parallaxwithbanner
{
  background-image: url(../images/lightroad-Projects.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    color:cyan;
    text-align: center;
    font-size: 2.5vw;
    
}

#astroparallax
{
  background-image: url(../images/astronaut-Projects.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
    font-size: 2.5vw;
    text-align: center;
    height:

    
}

#parallax_text_container
{
    margin:auto;
}